[Unit]
Description=Festival
After=syslog.target

[Service]
ExecStart=/bin/sh /usr/local/bin/festival.sh
ExecStopPost=/usr/bin/killall -9 festival > /dev/null
Type=forking

[Install]
WantedBy=multi-user.target
